.tables {

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24rem;
    margin: 0 auto;
  }

  &__table {
    height: 200rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    font-weight: bold;
    color: white;
    font-size: 28rem;
    border-radius: 10rem;


    &.table-free {
      background: darkgreen;
    }

    &.table-occupied {
      background: darkred;
    }
  }
}