@import "reset.css";
@import "fonts.css";
html {
  font-size: 1px;
  font-family: "Funnel", sans-serif;
  background: #f5f5f5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-size: 18rem;
  background: #f5f5f5;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#app {
  flex: 1;
  width: 88%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  position: absolute;
  left: 20rem;
  top: 20rem;
  font-size: 40rem;
  font-weight: 900;
  color: #ea9e00;
}

.card {
  padding: 16rem;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5rem;
  box-shadow: 0 0 40rem rgba(0, 0, 0, 0.05);
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40rem;
  margin-bottom: 40rem;
}
.top-content .filters {
  display: flex;
  align-items: center;
  padding: 8rem;
  gap: 24rem;
  flex: 1;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10rem;
  box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.05);
}

.pagination {
  margin: 24rem auto 0;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 24rem;
}
.pagination button {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5rem;
  box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.05);
  padding: 8rem;
  width: 80rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.pagination button:hover {
  background: rgba(234, 158, 0, 0.25);
}

.large-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 24rem;
  height: 400rem;
}

.base-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10rem;
  box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 24rem;
}
.base-list-item:hover {
  background: rgba(234, 158, 0, 0.25);
}

.btn-main {
  background: #ea9e00;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5rem;
  box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.05);
  padding: 8rem;
  transition: all 0.2s ease;
  display: flex;
  font-size: 18rem;
  cursor: pointer;
  font-weight: bold;
}
.btn-main:hover {
  background: rgba(234, 158, 0, 0.25);
}

input,
textarea,
select {
  font-family: "Funnel", sans-serif;
}

.header {
  margin-top: 40rem;
  position: relative;
}
.header__nav {
  padding: 8rem;
  display: flex;
  gap: 16rem;
  background: #f5f5f5;
  max-width: max-content;
  margin: 0 auto 20rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5rem;
  box-shadow: 0 0 40rem rgba(0, 0, 0, 0.05);
}
.header__links {
  padding: 8rem;
  border-radius: 5rem;
  transition: all 0.2s ease;
}
.header__links.active {
  background: #ea9e00;
  font-weight: 600;
}
.header__links:hover:not(.active) {
  background: rgba(234, 158, 0, 0.25);
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__background-close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
  cursor: pointer;
}
.modal__body {
  padding: 20rem;
  background: #f5f5f5;
  border-radius: 10rem;
  width: 50%;
  position: relative;
  z-index: 200;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__title {
  font-size: 20rem;
  font-weight: bold;
}
.modal__close {
  height: 20rem;
  width: 20rem;
  position: relative;
  cursor: pointer;
}
.modal__close:before, .modal__close:after {
  content: "";
  position: absolute;
  left: 8px;
  width: 24px;
  height: 4px;
  border-radius: 100vw;
  transition: all 0.2s ease;
  background-color: darkred;
}
.modal__close:before {
  transform: rotate(45deg);
  top: 50%;
  left: 0;
}
.modal__close:after {
  transform: rotate(-45deg);
  top: 50%;
  left: 0;
}
.modal__main {
  margin-top: 24rem;
}

.form__field {
  position: relative;
}
.form__field__label {
  position: absolute;
  top: -12rem;
  left: 4rem;
  background: #f5f5f5;
}
.form__field__input {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  height: 28rem;
  text-indent: 4rem;
}

.top-content .btn-add-new {
  margin-left: auto;
}

.orders-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24rem;
}
.orders-lists .card {
  padding: 8rem;
}
.orders-lists section:nth-of-type(1) .list-title {
  color: darkred;
}
.orders-lists section:nth-of-type(2) .list-title {
  color: darkblue;
}
.orders-lists section:nth-of-type(3) .list-title {
  color: darkgreen;
}
.orders-lists section:nth-of-type(4) .list-title {
  color: purple;
}
.orders-lists .list-title {
  text-align: center;
  margin-bottom: 16rem;
  font-weight: bold;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  height: 440rem;
  overflow: hidden scroll;
  position: relative;
}
.orders-list::-webkit-scrollbar {
  width: 4rem;
  background: transparent;
}
.orders-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.orders-list:nth-of-type(2n) .order:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.03);
}
.orders-list:nth-of-type(2n+1) .order:nth-of-type(2n+1) {
  background: rgba(0, 0, 0, 0.03);
}

.order {
  padding: 8rem;
  border-radius: 5rem;
  transition: all 0.1s ease;
  cursor: pointer;
  width: calc(100% - 12rem);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.order:hover {
  background: rgba(234, 158, 0, 0.25) !important;
}
.order__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 8rem;
}
.order__content__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tables__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24rem;
  margin: 0 auto;
}
.tables__table {
  height: 200rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  font-weight: bold;
  color: white;
  font-size: 28rem;
  border-radius: 10rem;
}
.tables__table.table-free {
  background: darkgreen;
}
.tables__table.table-occupied {
  background: darkred;
}

.transactions {
  padding: 8rem;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5rem;
  box-shadow: 0 0 40rem rgba(0, 0, 0, 0.05);
}
.transactions__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 8rem;
}
.transactions__top__amount {
  text-align: right;
}
.transactions__list {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 8rem;
  height: 360rem;
  overflow-y: scroll;
}
.transactions__list::-webkit-scrollbar {
  width: 4rem;
  background: transparent;
}
.transactions__list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.transactions__list .transaction:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.05);
}
.transactions .transaction {
  padding: 8rem 4rem 8rem 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.transactions .transaction__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.transactions .transaction__content__item {
  display: flex;
  justify-content: space-between;
}
.transactions .transaction__amount {
  text-align: right;
}

/*# sourceMappingURL=main.css.map */
